.profile {
  padding: 20px 30px;
  padding-left: 20vw;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Layout Grid */
.grid {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* Card Box */
.card {
  background: white;
  padding: 20px;
  border: 1px solid #e5e7eb;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
}

.card h2 {
  margin-bottom: 15px;
  font-size: 1.3rem;
}

/* Labels and Inputs */
.card label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 500;
}

.card input,
.card select,
.card textarea {
  margin-top: 6px;
  padding: 9px 12px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
  transition: 0.2s;
}

.card input:focus,
.card select:focus,
.card textarea:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.25);
}

.changePasswordButton {
  margin-top: 10px;
  padding: 10px 15px;
  background: #eb3525;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  transition: 0.2s ease;
}

.changePasswordButton:hover {
  background: #a82a1f;
}

/* Save Button */
.saveBtn {
  margin-top: 25px;
  padding: 12px 20px;
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.2s ease;
}

.saveBtn:hover {
  background: #1e40af;
}

/* Switch Toggle Component */
.toggleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
  font-size: 15px;
}

/* Switch Style */
.switch {
  position: relative;
  width: 45px;
  height: 22px;
  display: inline-block;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #b5b5b5;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  background: white;
  border-radius: 50%;
  left: 2px;
  bottom: 2px;
  transition: 0.3s;
}

input:checked + .slider {
  background-color: #2563eb;
}

input:checked + .slider:before {
  transform: translateX(23px);
}

/* Range Input */
input[type="range"] {
  width: 100%;
  cursor: pointer;
}
