.homeFooter {
  background-color: #fff;
  border-top: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 32px;
  color: #444;
}

.homeFooter h1 {
  font-size: 22px;
  letter-spacing: -0.5px;
  font-weight: 700;
}

.socials {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 0.8rem;
}

.socials svg {
  width: 24px;
  height: 24px;
  color: #444;
  transition: color 0.2s ease;
  cursor: pointer;
}

.socials svg:hover {
  color: #000;
}
