.getStarted {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ededed;
  padding: 2rem;
  height: 50vh;
}

.getStarted h2 {
  font-size: 2rem;
}

.getStarted p {
  font-size: 1rem;
  color: #666666;
  max-width: 600px;
  text-align: center;
}

.getStarted button {
  padding: 16px 16px;
  border: none;
  cursor: pointer;
  background-color: rgb(30, 175, 83);
  color: #ffffff;
  transition: background-color 0.3s ease;
}

.getStarted button:hover {
  background-color: rgb(29, 153, 74);
  color: #ffffff;
}
