.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  height: 90vh;
  background-color: #f5f5f5;
  padding: 0 20px;
}

.heroText {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.heroText h1 {
  font-size: 3rem;
  margin: 0;
  margin-bottom: 0.5rem;
}

.heroText p {
  font-size: 1.2rem;
  margin: 10px 0 2rem 0;
}

.heroButton {
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.heroImage img {
  aspect-ratio: 1 / 1;
  width: 500px;
  height: 400px;
}

.buttons {
  display: flex;
  gap: 1.5rem;
}

.getStartedButton {
  padding: 16px 16px;
  border: none;
  cursor: pointer;
  background-color: rgb(30, 175, 83);
  color: #ffffff;
  transition: background-color 0.3s ease;
}

.getStartedButton:hover {
  background-color: rgb(29, 153, 74);
  color: #ffffff;
}

.learnMoreButton {
  padding: 16px 16px;
  border: none;
  cursor: pointer;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}

.learnMoreButton:hover {
  background-color: #e0e0e0;
  color: #000000;
}
