:root {
  margin: 0px;
  padding: 0px;
}

html {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
