.signup {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 0px 1rem 1rem 1rem;
  max-width: 400px;
  border: 1px solid black;
}

.signup h1 {
  font-size: 2rem;
}

.signup p {
  color: grey;
}

.signup form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1rem;
}

.signup form input {
  font-size: 1rem;
}

.signup form button {
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}
